<h2>Search Results for <%= @query %></h2>

<% if @results.size > 0 %>
  <ul>
    <% @results.each do |result| %> 
      <% next if result.searchable.nil? %>

      <li>
      <%= link_to result.searchable.search_title, result.searchable %> <br />
      <%= result.pg_search_highlight.html_safe %> ...
      </li>
    <% end %>
  </ul>
<% else %>
<p>No results.</p>
<% end %>